.cuadro-naranja {
    background-color: #f7a83a;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    margin: 30px auto;
    font-family: 'Finger Paint', cursive;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: -100px;
  }